@page "/OverrideTrayReason"
@using Control.Endeavour.FrontEnd.Models.Models.Documents.OverrideTray.Response
@using Control.Endeavour.FrontEnd.Models.Models.Documents.OverrideTray.Request
@layout MainLayout

<OverrideTrayReasonModal @ref="modalReason" OnChangeData="HandleRefreshGridDataAsync"></OverrideTrayReasonModal>


<div class="container-fluid mt-5">
    <div class="row">
        <div class="col-8">
            <h1>Administración - Razones de Anulación</h1>

        </div>
        <div class="col-4 text-end">
            <ButtonComponent BtnClassColor="btnStyle--primary" BtnClassModifiers=" ml-10" BtnType="button" BtnText="Crear" BtnOnClick="ShowModal" BtnIcon="fa-solid fa-plus"></ButtonComponent>
        </div>

    </div>
</div>

<div class="row mt-4">

    <TelerikGrid Data="ReasonList" PageSize="10"
                 Sortable="true"
                 FilterMode="GridFilterMode.FilterMenu"
                 Resizable="true"
                 Reorderable="true"
                 EditMode="GridEditMode.Popup"
                 SelectionMode="GridSelectionMode.None">
        <GridColumns>
            <GridCommandColumn Width="80px" Title="Acciones" HeaderClass="center-wrap" Visible="true">

                <GridCommandButton Icon="@SvgIcon.Pencil" OnClick="@((args)=> ShowModalEdit(args.Item as OverrideTrayReasonDtoResponse))"></GridCommandButton>
                <GridCommandButton Icon="@SvgIcon.Trash" OnClick="@((args)=> ShowModalDelete(args.Item as OverrideTrayReasonDtoResponse))"></GridCommandButton>
            </GridCommandColumn>
            
            <GridColumn Field="NameReason"
                        Title="Razon"
                        Width="150px"
                        Filterable="true"
                        TextAlign="ColumnTextAlign.Center"
                        HeaderClass="center-wrap" />
            <GridColumn Field="NameReasonCode"
                        Title="Tipo"
                        Width="150px"
                        Filterable="true"
                        TextAlign="ColumnTextAlign.Center"
                        HeaderClass="center-wrap" />
            <GridColumn Field="NameTypeCode"
                        Title="Codigo"
                        Width="150px"
                        Filterable="true"
                        TextAlign="ColumnTextAlign.Center"
                        HeaderClass="center-wrap" />


        </GridColumns>
        <NoDataTemplate>
            <strong>No Data available / The data is still loading...</strong>
        </NoDataTemplate>
    </TelerikGrid>

    <NotificationsComponentModal @ref="notificationModal" OnModalClosed="HandleModalNotiClose"></NotificationsComponentModal>
    <NotificationsComponentModal @ref="notificationModalSucces"></NotificationsComponentModal>
</div>