/*table {
    border-collapse: separate;
    border-spacing: 0;
    border: 1px solid #ccc;
    overflow: hidden;
    border-radius: 10px;
}

tr:last-child td {
    border-bottom: none;
}

th, td {
    border-bottom: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}
*/

