<div class="my-modal">
    <TelerikRootComponent>

        <GenericModalComponent Title="Administración - Llaves generales del sistema" IsVisible="modalStatus" OnModalClosed="HandleModalClosedAsync" Width="60%">
            <ChildContent>
                    <EditForm Model="@appKeysDtoRequest" OnValidSubmit="HandleValidSubmit">
                        
                        <div class="row p-2">
                            <div class="col-md-6 mb-2">
                                <InputModalComponent @ref="inputKeyName" @bind-InputValue="appKeysDtoRequest.KeyName" LabelText="Nombre de la llave:" Placeholder="Ingrese el nombre" FieldType="InputModalTypeEnum.Name" IsRequired="true"></InputModalComponent>
                            </div>
                            <div class="col-md-6 mb-2">
                                <InputModalComponent @ref="inputValue1" @bind-InputValue="appKeysDtoRequest.Value1" LabelText="Valor 1:" Placeholder="Ingrese el valor 1" IsRequired="true"></InputModalComponent>
                            </div>

                        </div>
                        <div class="row p-2">
                            <div class="col-md-6 mb-2">
                                <InputModalComponent @ref="inputValue2" @bind-InputValue="appKeysDtoRequest.Value2" LabelText="Valor 2:" Placeholder="Ingrese el valor 2"></InputModalComponent>
                            </div>
                            <div class="col-md-6 mb-2">
                                <InputModalComponent @ref="inputValue3" @bind-InputValue="appKeysDtoRequest.Value3" LabelText="Valor 3:" Placeholder="Ingrese el valor 3"></InputModalComponent>
                            </div>

                        </div>
                        <div class="row p-2">
                            <div class="col-md-6 mb-2">
                                <InputModalComponent @ref="inputValue4" @bind-InputValue="appKeysDtoRequest.Value4" LabelText="valor 4:" Placeholder="Ingrese el valor 4"></InputModalComponent>
                            </div>
                            

                        </div>
                        <div class="row">

                            <div class="from-group from-group--margin-top justify-content-center">
                                <ButtonComponent BtnClassColor="btnStyle--primaryInLine" BtnType="button" BtnText="Limpiar" BtnIcon="fa-solid fa-eraser" BtnOnClick="ResetFormAsync"></ButtonComponent>
                                <ButtonComponent BtnClassColor="btnStyle--primary" BtnClassModifiers="ml-10" BtnType="submit" BtnText="Guardar" BtnIcon="fa-solid fa-floppy-disk"></ButtonComponent>
                            </div>
                        </div>
                    </EditForm>
            </ChildContent>
        </GenericModalComponent>
    </TelerikRootComponent>
</div>

<NotificationsComponentModal @ref="notificationModal" OnModalClosed="HandleModalNotiClose"></NotificationsComponentModal>
