.card-gestor {
    padding: 10px 20px 10px;
}

.custom-table-container {
    border: 1px;
    border-radius: 10px;
    overflow: auto;
    max-height: 400px;
}

.typology-destination-pt {
    padding: 10px 20px 10px;
}

.table-content {
    justify-content: space-evenly !important;
}

.delete-button {
    cursor: pointer;
    font-size: 25px;
    color: #41BAEA;
}

.span-gray {
    color: gray;
}
