<div class="my-modal">
    <TelerikRootComponent>
        <GenericModalComponent Title="Segunda Contraseña" Width="40%" IsVisible="modalStatus" OnModalClosed="HandleModalClosed">
            <div class="row pt-20">
                <div class="col-12 pt-3">

                    <InputModalComponent LabelText="Ingrese segunda contraseña" @bind-InputValue="tempPassInput" Placeholder="Segunda contraseña" IsVisible="true" InputType="password"></InputModalComponent>
                    @if (tempPassInput.Count() > 0)
                    {
                        isEnableActionButton = false;
                    }
                    else
                    {
                        isEnableActionButton = true;
                    }
                </div>

                <div class="col-12 pt-3 d-flex justify-content-center">
                    <div class="col-md-3">
                        <ButtonComponent BtnClassColor="btnStyle--primary" BtnType="button" BtnText="Aceptar" BtnIcon="fa-solid fa-check" BtnDisabled="isEnableActionButton" BtnOnClick="ValidatePassword"></ButtonComponent>
                    </div>

                </div>
            </div>

        </GenericModalComponent>
    </TelerikRootComponent>
    <NotificationsComponentModal @ref="notificationModal" OnModalClosed="HandleModalNotiClose"></NotificationsComponentModal>
</div>